<aside id="sidebar"<% if (theme.sidebar === 'bottom'){ %> class="outer"<% } %>>
  <% theme.widgets.forEach(function(widget){ %>
    <%- partial('_widget/' + widget) %>
  <% }) %>
  <div class="widget-wrap">
    <div class="sidebarMin">
  <img 
  src="https://mino.firsts1.repl.co:5900/bucket1/svg/stevessr.eu.org.svg" 
  width:"15%" 
  height:"15%"
  >
</div>
</div>
</aside>